@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

// @layer components {
//     @import "@styles/components";
// }

* {
    -webkit-tap-highlight-color: transparent;
}

body > * {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: #aaacaf;
        border-radius: 10px;
    }
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rdrDateRangePickerWrapper {
    .rdrDefinedRangesWrapper {
        display: none;
    }
}
